---
import UserForm from '../components/UserForm.astro';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sintonía 3026</title>
	</head>
	<body style="background-color: #111827; color: white; font-family: system-ui;">
		<h1 style="text-align: center; margin-top: 2rem;">Sistema Semilla 3026</h1>
		<UserForm />
	</body>
</html>
