name: CI Sintonía 3026

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test-backend:
    name: Test Backend (Rust)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Rust
      run: rustup update stable && rustup default stable
      
    - name: Run Tests
      # Ejecuta los tests unitarios y de integración
      run: cargo test --verbose